*{
    box-sizing: border-box;
}

body{
    font-style: italic;
    font-size: large;
    margin: 15px 30px;
    padding: 15px;
}
#background{
    background-color: #f2f2f2;
    border: 2px solid rgb(61, 96, 162);
    border-radius: 6px;
    padding: 15px 15px 30px;
}
input[type=number]{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    margin: 10px;
}
.container{
    background-color:rgb(61, 142, 162);
    border: 2px solid rgb(59, 146, 156);
    border-radius: 6px;
    text-align: center;
    padding: 15px;
}
input[type="submit"]{
    color: white;
   background-color: rgb(61, 147, 162);
   border: 1px solid rgb(61, 128, 162) ;
   border-radius: 5px;
   cursor: pointer;
   padding: 8px;
}
input[type="submit"]:hover{
    background-color: aqua;
}