*{
    box-sizing: border-box;
}
body{
    font-style: italic;
    font-size: large;
    margin: 15px 30px;
    padding: 15px;
}

#container{
    background-color: #f2f2f2;
    border: 2px solid rgb(161, 75, 226);
    border-radius: 6px;
    padding: 15px 15px 30px;
}
.heading{
    text-align: center;
    border: 1px solid rgb(161, 75, 226);
    border-radius: 5px;
    padding: 15px;
    background-color:rgb(161, 75, 226) ;
}
input[type=text],
input[type=email],
input[type=number],
input[type=password],
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}
fieldset{
    background-color: #fff;
    border:1px solid #ccc;
    border-radius: 5px;
}
input[type=submit]{
    color: white;
    background-color: rgb(145, 47, 220);
    border: 1px solid rgb(145, 47, 220);
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    margin: 10px;
}
input[type=submit]:hover{
    background-color: burlywood;
}

